<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561786743368-7c009bji3jr30d94qut4lbr9vki0fh04.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561786743368-7c009bji3jr30d94qut4lbr9vki0fh04</string>
	<key>API_KEY</key>
	<string>AIzaSyAXHERY5tNKQDxlBfCQEK7TICbB9JIh9nY</string>
	<key>GCM_SENDER_ID</key>
	<string>561786743368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.ac.jec.20cm0120.SampleCollectionAndFireStore</string>
	<key>PROJECT_ID</key>
	<string>samplecollection-254ff</string>
	<key>STORAGE_BUCKET</key>
	<string>samplecollection-254ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:561786743368:ios:68473067d8963ef486867d</string>
</dict>
</plist>
